body.rtl {
  direction: rtl; }
  body.rtl .dropdown-menu {
    float: right;
    text-align: right; }
  body.rtl .close {
    float: left; }
  body.rtl .float-left {
    float: right !important; }
  body.rtl .float-right {
    float: left !important; }
  @media (min-width: 576px) {
  body.rtl .float-sm-left {
    float: right !important; }
  body.rtl .float-sm-right {
    float: left !important; } }
  @media (min-width: 768px) {
  body.rtl .float-md-left {
    float: right !important; }
  body.rtl .float-md-right {
    float: left !important; } }
  @media (min-width: 992px) {
  body.rtl .float-lg-left {
    float: right !important; }
  body.rtl .float-lg-right {
    float: left !important; } }
  @media (min-width: 1200px) {
  body.rtl .float-xl-left {
    float: right !important; }
  body.rtl .float-xl-right {
    float: left !important; } }
  body.rtl .text-left {
    text-align: right !important; }
  body.rtl .text-right {
    text-align: left !important; }
  @media (min-width: 576px) {
  body.rtl .text-sm-left {
    text-align: right !important; }
  body.rtl .text-sm-right {
    text-align: left !important; } }
  @media (min-width: 768px) {
  body.rtl .text-md-left {
    text-align: right !important; }
  body.rtl .text-md-right {
    text-align: left !important; } }
  @media (min-width: 992px) {
  body.rtl .text-lg-left {
    text-align: right !important; }
  body.rtl .text-lg-right {
    text-align: left !important; } }
  @media (min-width: 1200px) {
  body.rtl .text-xl-left {
    text-align: right !important; }
  body.rtl .text-xl-right {
    text-align: left !important; } }
  body.rtl code, body.rtl kbd, body.rtl pre, body.rtl samp {
    direction: ltr;
    unicode-bidi: bidi-override; }
  body.rtl .mr-auto, body.rtl .mx-auto {
    margin-right: initial !important;
    margin-left: auto !important; }
