#sp-header #header-top #sp-top2 .socials li a{ color:#fe0000!important; }
#sp-footer {
    background: #fe0000;

}
.sp-copyright{
  color:#FFF;
}
#reviews .form-group {
    margin-bottom: 15px;
    padding-bottom: 45px!important;
    clear: both!important;
}
#review-title{
  clear: both!important;
}
.sp-megamenu-parent {
    float: right !important;
}
.product-info .product-cart .eshop-quantity .item:first-child{
  line-height: 15px;
  font-size: 16px;
  font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:nth-child(3){
  line-height: 15px;
  font-size: 18px;
  font-weight: bold;
}
#sp-bottom2{
  padding-left: 90px;
}

#eshop-cart .eshop-content{ padding-left:15px; padding-right:15px; padding-top:15px;}
#sp-bottom .sp-module ul > li {
    display: block;
    margin-bottom: 3px;
}
#sp-bottom .sp-module .sp-module-title {
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 10px;
}
.menu a:hover,.about-us a:hover{color:#fe0000!important;}
.about-us a{
  color:#fe0000!important;
  font-weight: bold;
}

#eshop_result {
    background-color: #ffffff;
    width: 450px!important;
    position: absolute;
    margin-left: 15px;
    z-index: 9999;
}
#sppb-addon-1570396380086 .sppb-addon-title{
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    border-left: solid #e6462f 3px;
    color: #e6462f;
}
#sp-footer a, #sp-bottom a {
    color: #111;
}
.latestnews a{
  color: #111;
}

.product-info h1 {
  color: #333;
}
.product-info .product-cart #add-to-cart{
    color: #fff;
    background-color: #fe0000;
    border-color: #b52b1a !important;
    text-transform: capitalize;
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 6px;
}
#products-list-container .pagination .page-item.active .page-link ,#products-list-container .pagination .page-link:hover {
    border-color: orange;
    background-color: orange!important;
    color: #fff;
}

.moduletable.__category .eshop-category ul li a::after {
    top: 5px;
}
.moduletable.__category .eshop-category ul li a {
    font-weight: normal;
    font-size: 14px;
    padding: 2px 10px;
}
.moduletable.__category .eshop-category ul li ul li{
    padding: 0 10px;
}
.moduletable.__category .eshop-category ul li ul.sub-cate{
    padding: 7px 0;
}
.moduletable.__category .eshop-category ul li ul ul.sub-sub-cate{ visibility: hidden;  padding: 7px 0;}
.moduletable.__category .eshop-category ul li ul li:hover ul.sub-sub-cate{ visibility: visible;}
.moduletable.__category .eshop-category ul li ul li a{
    line-height: normal;
    padding: 2px 0;

}

a.level_one{
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
ul.sub-cate li a {
  font-size: 15px!important;
}
.commit i{ float:left; font-size:20px; }
.commit *{ color:green; }
.commit p{ padding-left:10px; float: left;}
.commit div{ clear:both; }

.short_desc{
    max-height: 157px;
    overflow: hidden;
}
.checkout-login{
  padding-top:10px!important;
  padding-bottom:10px!important;
}

.list-product .eshop_product{    min-height: 457px;}
.reset-complete form {
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.btn-reset{
  border-color: #edac00!important;
  color: #edac00!important;
  background-color: white!important;
  background: transparent none!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}

.btn-reset:hover{
  border-color: #edac00!important;
  color: #000000!important;
  background-color: #edac00!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}

#user-registration .btn-warning{
  border-color: #edac00!important;
  color: #edac00!important;
  background-color: white!important;
  background: transparent none!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}

#user-registration .btn-warning:hover{
  border-color: #edac00!important;
  color: #000000!important;
  background-color: #edac00!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}


.reset-confirm .btn-primary{
  border-color: #edac00!important;
  color: #edac00!important;
  background-color: white!important;
  background: transparent none!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}
.reset-confirm .btn-primary:hover{
  border-color: #edac00!important;
  color: #000000!important;
  background-color: #edac00!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}

.reset form {
    margin-top: 15px;
    background-color: #fff;
}

.reset-confirm form {
    margin-top: 15px;
    background-color: #fff;
}
#system-message{
  margin-top: 10px;
}
.reset .justify-content-center {
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  padding: 25px 19px 19px 19px;
}

.cart-popup .cart-info .table-responsive thead th {
    color: #555;
    font-size: 13px;
    border-bottom: 1px solid #f7f7f9;
    font-weight: 500;
    padding-top: 20px;
}
#payment-address h3{
font-size:14px;
}
#shipping-address h3{
font-size:14px;
}
.cart-info .text-right .price{color:#ee8033; font-weight: bold;}

/* .sclogin .dropdown-menu li:last-child {
  display:none;
} */
li.item-353{ display:none!important;}

#step-2 #shipping-address{
  display:none;
}

#manager-address{
  padding-top: 10px;
}

.order-complete .col-md-6 .text-primary{ font-size: 16px!important; font-weight: bold!important;}
.shop-invoice h3.title .text-secondary{ color:#ee8033; }


.__search-bar {
    padding-top: 12px;
}
#sp-header.header-sticky #header-mid .logo .logo-image {
    height: 55px !important;
    margin-top: 15px;
}

.slick-prev:before, .slick-next:before {
    font-size: 35px;
    margin-left: -25px;
}

.slick-prev:before, .slick-next:before {
    font-size: 35px;
    margin-left: -25px;
}

.slick-prev:before{
  margin-left: 5px;
}
.feature_group.group_3{display: none;}

.moduletable.__cart .cart-empty .fa {
    font-size: 6em;
    color: #e0dfe3;
}

.product-pagination{
  clear: both;
  padding-left: 20px;
}
#eshop-main-container{ background-color: #FFF; }
.__loginmobile{display: none;}

.sp-scroll-up {
    bottom: 90px;
}
.blog .article-list .article .article-body .article-header h2 a {
  color: #ee8033;
}

.product-info .product-cart .eshop-quantity .item:first-child {
    line-height: 27px;
    font-size: 16px;
    font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:first-child {
    width: 30px;
    height: 31px;
    border: 1px solid #E9E9E9;
    border-left-width: 1px;
    order: 1;

}
.product-info .product-cart .eshop-quantity .item:nth-child(3) {
    line-height: 27px;
    font-size: 18px;
    font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:nth-child(3){
    width: 30px;
    height: 30px;

    border: 1px solid #E9E9E9;
    border-left-width: 1px;
    order: 2;
}
.product-info #add-to-cart{
  margin-left: 35px;
}
#member-registration #jform_spacer-lbl strong.red{color:red;}
#member-registration span.star{color:red;}

#sp-header #header-top {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    background: #ee8033;
    padding: 10px 0;
}
.moduletable.__search-bar .eshop-search .input-group .btn {
    padding: 0;
    height: 38px;
    width: 50px !important;
    font-size: 20px;
    position: absolute;
    right: 0;
    box-shadow: none;
    background: #ee8033;
    z-index: 99;
    line-height: 38px;
    border-color: #ee8033;
    border-top-color: rgb(0, 134, 68);
    border-right-color: rgb(0, 134, 68);
    border-bottom-color: rgb(0, 134, 68);
    border-left-color: rgb(0, 134, 68);
    border-radius: 0 5px 5px 0;
    color: #fff;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
.moduletable.__search-bar .eshop-search .input-group input {
    height: 38px !important;
    vertical-align: middle;
    color: #222;
    box-shadow: none;
    border-color: #ee8033;
}
.moduletable.__cart .eshop-items .right_info_cart {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    background-color: #ee8033;
    border-radius: 5px;
    padding: 7px 5px;
}
.moduletable.__category .eshop-category ul li a:hover {
    background: #ee8033;
}
a {
    color: #ee8033;
}
#sppb-addon-1570396380086 .sppb-addon-title {
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    border-left: solid #ee8033 3px;
    color: #e6462f;
}
.moduletable.__cart .eshop-items .right_info_cart .badge {
    background: #fff;
    text-shadow: none;
    color: #ee8033 !important;
    margin-bottom: 0;
}
#sp-footer {
    background: #ee8033;
}
#login-modal .row-fluid button.btn, .moduletable.__cart .eshop-content .checkout .btn-success, .customer-box__content .btn, .address-page .customer-box__content .button-delete-address, .blog .article-list .article .article-body .readmore a {
    border-color: #ee8033;
    color: #ee8033;
}

.btn-outline-danger:hover, .item-product .eshop-buttons .eshop-cart-area .btn:hover, #login-modal .row-fluid button.btn:hover, .moduletable.__cart .eshop-content .checkout .btn-success:hover, .customer-box__content .btn:hover, .address-page .customer-box__content .button-delete-address:hover, .blog .article-list .article .article-body .readmore a:hover {
    background-color: #ee8033;
    color: #fff;
}
.block-header, .cart-page h1, .order-page h1, .contact h1, #home_product .home-product-block .sppb-addon-content h3.sppb-addon-title, #home_product .home-product-block .eshop-category ul li .title_category, #sp-component .profile-edit .page-header h1, .eshop-container > h1, .eshop-container .eshop_customer h1, .article-details .article-header h1, .info_order h1, .product-info #productRelate h2 {
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    border-left: solid #ee8033 3px;
    color: #fe0000;
}
.block-header, .cart-page h1, .order-page h1, .contact h1, #home_product .home-product-block .sppb-addon-content h3.sppb-addon-title, #home_product .home-product-block .eshop-category ul li .title_category, #sp-component .profile-edit .page-header h1, .eshop-container > h1, .eshop-container .eshop_customer h1, .article-details .article-header h1, .info_order h1, .product-info #productRelate h2 {
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
}
.btn-outline-danger, .item-product .eshop-buttons .eshop-cart-area .btn, #login-modal .row-fluid button.btn, .moduletable.__cart .eshop-content .checkout .btn-success, .customer-box__content .btn, .address-page .customer-box__content .button-delete-address, .blog .article-list .article .article-body .readmore a {
    border-color: #ee8033;
    color: #ee8033;
}

.btn-outline-success, .address-page .customer-box__content #button-new-address, .contact .contact-form .btn, #sp-component .login-page .login-form .btn, #sp-component .profile-edit form .box__user-content .btn, #sp-component .profile-edit form .btn-success, #confirm .btn-primary {
    border-color: #ee8033;
    color: #ee8033;
}
.btn-outline-success, .address-page .customer-box__content #button-new-address, .contact .contact-form .btn, #sp-component .login-page .login-form .btn, #sp-component .profile-edit form .box__user-content .btn, #sp-component .profile-edit form .btn-success, #confirm .btn-primary {
    border-color: #ee8033;
    color: #ee8033;
}
#sp-left .sp-module._my_account .sp-module-title {
    font-size: 14px;
    padding: 10px 5px;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    border-left: solid #ee8033 3px;
    color: #ee8033;
}
#sp-component #users-profile-core .box_profile_info h3 {
    background-color: #ee8033;
    color: #fff;
    padding: 5px 15px;
    margin: 0 -15px 10px -15px;
    border-radius: 5px 5px 0 0;
}
.menu a:hover, .about-us a:hover {
    color: #ee8033!important;
}
#sp-component .profile-edit form .box__user-content h3 {
    background-color: #ee8033;
    color: #fff;
    padding: 5px 15px;
    margin: 0 -15px 10px -15px;
    border-radius: 5px 5px 0 0;
}

.btn-outline-success:hover, .address-page .customer-box__content #button-new-address:hover, .contact .contact-form .btn:hover, #sp-component .login-page .login-form .btn:hover, #sp-component .profile-edit form .box__user-content .btn:hover, #sp-component .profile-edit form .btn-success:hover, #confirm .btn-primary:hover {
    background-color: #ee8033;
    color: #fff;
}
.customer-box__content {
    background-color: #fff;
    padding: 15px;
    font-size: 13px;
    border-top: solid 3px #ee8033;
}
.moduletable.__login .sclogin .scuser-menu .btn-group.open .dropdown-menu li a:hover {
    background: #ee8033;
}
/* .commit * {
    color: #ee8033;
} */
.product-info .product-cart #add-to-cart {
    color: #ee8033;
    background-color: white;
    border-color: #b52b1a !important;

}

.product-info .product-cart #add-to-cart:hover {
    background-color: #ee8033;
    border-color: #02261d;
    color: white;
}
.product-info #productTabs > .nav-item a {
    padding: 10px 15px;
    margin: 0;
    display: inline-block;
    border-bottom-color: #bbb;
    background-color: #ddd;
    color: #ee8033;
    font-size: 13px;
    font-weight: 600;
}
.sp-scroll-up {

    background: #ee8033;

}
.latestnews .title a:hover {
    color: #ee8033;
}
.customer_location .show a:hover {
    color: green;
}
.btn-outline-warning, .order-page .order-list > li .order-box__footer .btn, #sp-component .registration form #bntRegis {
    border-color: #ee8033;
    color: #ee8033;
}
.btn-outline-warning, .order-page .order-list > li .order-box__footer .btn, #sp-component .registration form #bntRegis:hover {
    background: #ee8033;
}
.blog .article-list .article .article-body .article-header h2 a {
    color: #ee8033;
}
.blog .article-list .article {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border-bottom: solid 3px #fff;
}
.blog .article-list .article:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border-bottom: solid 3px #ee8033;
}



#sp-header #header-top #sp-top2 .socials li a {
    color: orange!important;
}

.btn-outline-warning, .order-page .order-list > li .order-box__footer .btn, #sp-component .registration form #bntRegis:hover {
    background: white;
}
.tabset > input:checked + label {
    color: #ee8033;
}
.tabset > input:checked + label {
    color: #ee8033;
}
.tabset > label:hover {
    color: #ee8033;
}
.tabset > label:hover::after, .tabset > input:focus + label::after, .tabset > input:checked + label::after {
    background: #ee8033;
}
.sw-theme-dots > ul.step-anchor > li.active > a::before {
    background-color: #ee8033;
}
.sw-theme-dots > ul.step-anchor > li.done > a::before {
    background-color: #ee8033;
}

.hotline-mobile-top{display: none!important;}

.sw-theme-dots > ul.step-anchor > li.done::after,.sw-theme-dots > ul.step-anchor > li.active::before{
background-color: #ee8033;
}


/* minhcau */

.sp-scroll-up {
    bottom: 90px;
}
.blog .article-list .article .article-body .article-header h2 a {
  color: #ee8033;
}

.product-info .product-cart .eshop-quantity .item:first-child {
    line-height: 27px;
    font-size: 16px;
    font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:first-child {
    width: 30px;
    height: 31px;
    border: 1px solid #E9E9E9;
    border-left-width: 1px;
    order: 1;

}
.product-info .product-cart .eshop-quantity .item:nth-child(3) {
    line-height: 27px;
    font-size: 18px;
    font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:nth-child(3){
    width: 30px;
    height: 30px;

    border: 1px solid #E9E9E9;
    border-left-width: 1px;
    order: 2;
}
.product-info #add-to-cart{
  margin-left: 35px;
}
#member-registration #jform_spacer-lbl strong.red{color:red;}
#member-registration span.star{color:red;}

#products-list-container .sortPagiBar {
    margin: 10px -11px;
}
.sortPagiBar form div a i{
  color:#ee8033;

}

#products-list-container .sortPagiBar form .btn-group .btn i{
  color:#999;
}
#products-list-container.grid .sortPagiBar .btn-group .btn i.icon-th-large {
    color: #ee8033;
}
#products-list-container.list .sortPagiBar .btn-group .btn i.icon-th-list {
    color: #ee8033;
}

#eshop-main-container h1{
  padding-top: 10px;
  padding-left: 10px;
}
#eshop-main-container .product-info h1{padding-left: 0px!important;}

#products-list .row .ajax-block-product {
    min-height: 464px;
}

.eshop-products-list .item-product img.img-responsive{
  min-height: 281px;
  min-width: 281px;
}

#productRelate .item-product img.product-item{
  min-height: 281px;
  min-width: 281px;
}

#productRelate .item-product .product-tile{
  text-align: center;
}



.item-product .eshop-product-price {
    text-align: center !important;
}
.eshop-mini-cart-info{
  overflow-y: scroll!important;
  max-height: 250px;
}
.product-info .product-options{
  width:30%;
}

.product-info .product-cart #add-to-cart{ border: 1px solid #ee8033!important;}


/* fix all project */
#products-list  .item-product img.product-item{
  min-height: 281px;
  min-width: 281px;
}
#products-list  .item-product .product-tile{
  text-align: center;
}


#products-list-container.list #products-list .row .ajax-block-product .item-product .eshop-product-price {
  width: 70%;
  text-align: left!important;
}

#products-list-container.list #products-list .row .ajax-block-product .item-product .product-img-wrap {
    width: 25%;
}
#products-list-container.list #products-list .row .ajax-block-product .item-product .eshop-product-desc{
  width: 70%;
}

#products-list-container.list #products-list .row .ajax-block-product .item-product .product-tile{
  font-weight: bold;
  width: 70%;
}

#products-list-container.list #products-list .row .ajax-block-product {
    min-height: 355px!important;
}
.sp-scroll-up:hover, .sp-scroll-up:active, .sp-scroll-up:focus {
    color: #fff;
    background: #ee8033;
}
/* end fix all project */

/*css hổ viết carspahue*/
#sp-header #header-top {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    background: #f3f2f4;
    padding: 10px 0;
}

#sp-header #header-top #sp-top2 .socials li a {
    color: white!important;
}
.moduletable.__category .eshop-category ul li a:hover {
    background: #FA9C30;
}

.moduletable.__search-bar .eshop-search .input-group input {
    height: 38px !important;
    vertical-align: middle;
    color: #222;
    box-shadow: none;
    border-color: #FA9C30;
}


.moduletable.__search-bar .eshop-search .input-group .btn {
    padding: 0;
    height: 38px;
    width: 50px !important;
    font-size: 20px;
    position: absolute;
    right: 0;
    box-shadow: none;
    background: #FA9C30;
    z-index: 99;
    line-height: 38px;
    border-color: #ee8033;
    border-top-color: rgb(0, 134, 68);
    border-right-color: rgb(0, 134, 68);
    border-bottom-color: rgb(0, 134, 68);
    border-left-color: rgb(0, 134, 68);
    border-radius: 0 5px 5px 0;
    color: #fff;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.moduletable.__cart .eshop-items .right_info_cart {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    background-color: #FA9C30;
    border-radius: 5px;
    padding: 7px 5px;
}

.moduletable.__cart .eshop-items .right_info_cart .badge {
    background: #fff;
    text-shadow: none;
    color: #FA9C30 !important;
    margin-bottom: 0;
}


.btn-outline-danger:hover, .item-product .eshop-buttons .eshop-cart-area .btn:hover, #login-modal .row-fluid button.btn:hover, .moduletable.__cart .eshop-content .checkout .btn-success:hover, .customer-box__content .btn:hover, .address-page .customer-box__content .button-delete-address:hover, .blog .article-list .article .article-body .readmore a:hover {
    background-color: #FA9C30;
    color: #fff;
}
.btn-outline-danger, .item-product .eshop-buttons .eshop-cart-area .btn, #login-modal .row-fluid button.btn, .moduletable.__cart .eshop-content .checkout .btn-success, .customer-box__content .btn, .address-page .customer-box__content .button-delete-address, .blog .article-list .article .article-body .readmore a {
    border-color: #FA9C30;
    color: #FA9C30;
}

a {
    color: #FA9C30;
}

.block-header, .cart-page h1, .order-page h1, .contact h1, #home_product .home-product-block .sppb-addon-content h3.sppb-addon-title, #home_product .home-product-block .eshop-category ul li .title_category, #sp-component .profile-edit .page-header h1, .eshop-container > h1, .eshop-container .eshop_customer h1, .article-details .article-header h1, .info_order h1, .product-info #productRelate h2 {
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
}

.eshop_customer h1, .article-details .article-header h1, .info_order h1, .product-info #productRelate h2 {
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    border-left: solid #FA9C30 3px;
    color: #FA9C30;
}

#sppb-addon-1570396380086 .sppb-addon-title {
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    border-left: solid #FA9C30 3px;
    color: #FA9C30;
}

.latestnews a:hover {
    color: #FA9C30!important;
}

.sp-scroll-up {
  background: #FA9C30;
}

.menu a:hover, .about-us a:hover {
    color: #FA9C30!important;
}

#sp-footer {
    background: #FA9C30;
}


.btn-outline-warning, .order-page .order-list > li .order-box__footer .btn, #sp-component .registration form #bntRegis {
    color: #FA9C30;
}

.btn-outline-warning, .order-page .order-list > li .order-box__footer .btn, #sp-component .registration form #bntRegis {
    border-color: #FA9C30;
    color: #FA9C30;
}

.product-info #productTabs > .nav-item a {
    padding: 10px 15px;
    margin: 0;
    display: inline-block;
    border-bottom-color: #bbb;
    background-color: #ddd;
    color: #FA9C30;
    font-size: 13px;
    font-weight: 600;
}

.product-info .product-cart #add-to-cart {
    border: 1px solid #FA9C30!important;
}
.product-info .product-cart #add-to-cart {
    color: #FA9C30;
    background-color: white;
    border-color: #FA9C30 !important;
}

.product-info .product-cart #add-to-cart:hover {
    color: white;
    background-color: #FA9C30;
    border-color: #b52b1a !important;
}

/* .commit * {
    color: #FA9C30;
} */


.btn-outline-success:hover, .address-page .customer-box__content #button-new-address:hover, .contact .contact-form .btn:hover, #sp-component .login-page .login-form .btn:hover, #sp-component .profile-edit form .box__user-content .btn:hover, #sp-component .profile-edit form .btn-success:hover, #confirm .btn-primary:hover {
    background-color: #FA9C30;
    color: #fff;
}

.btn-outline-success, .address-page .customer-box__content #button-new-address, .contact .contact-form .btn, #sp-component .login-page .login-form .btn, #sp-component .profile-edit form .box__user-content .btn, #sp-component .profile-edit form .btn-success, #confirm .btn-primary {
    border-color: #FA9C30;
    color: #FA9C30;
}

.moduletable.__search-bar .eshop-search .input-group .btn {
    padding: 0;
    height: 38px;
    width: 50px !important;
    font-size: 20px;
    position: absolute;
    right: 0;
    box-shadow: none;
    background: #FA9C30;
    z-index: 99;
    line-height: 38px;
    border-color: #FA9C30;
    border-top-color: #FA9C30;
    border-right-color: #FA9C30;
    border-bottom-color: #FA9C30;
    border-left-color: #FA9C30;
    border-radius: 0 5px 5px 0;
    color: #fff;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
#sp-component #users-profile-core .box_profile_info h3 {
    background: #FA9C30;
    color: #fff;
    padding: 5px 15px;
    margin: 0 -15px 10px -15px;
    border-radius: 5px 5px 0 0;
}

#sp-left .sp-module._my_account .sp-module-title {
    font-size: 14px;
    padding: 10px 5px;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    border-left: solid #FA9C30 3px;
    color: #FA9C30;
}

.blog .article-list .article .article-body .article-header h2 a {
    color: #FA9C30;
}

.blog .article-list .article:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border-bottom: solid 3px #FA9C30;
}

.moduletable.__login .sclogin .scuser-menu .btn-group.open .dropdown-menu li:hover {
    background: #FA9C30!important;
    border-bottom: solid 1px #FA9C30;
}
.moduletable.__login .sclogin .scuser-menu .btn-group.open .dropdown-menu li a:hover {
    background: #FA9C30!important;
    }


.moduletable.__box_our_quantity {
  background: #fa9c30;
  color: #fff;
}

.footer-box__content-intro a {
  color: black!important;
  font-size: 25px;
}



h3.sppb-addon-title {
  text-transform: uppercase;
}

h3.sppb-addon-title {
  font-size: 25px;
  text-align: center;
}

.section-title h4 {
    font-size: 20px;
    text-align: center;
}

.custom p span img {
  float: left;
  margin: 5px;
}
.sppb-addon-content h3 .custom p span {
  float: left;
}

#sppb-addon-1570287697253 .banneritem img{
  margin: auto;
  height: 600px;
  width: 100%;
}

.block-header, .cart-page h1, .order-page h1, .contact h1, #home_product .home-product-block .sppb-addon-content h3.sppb-addon-title, #home_product .home-product-block .eshop-category ul li .title_category, #sp-component .profile-edit .page-header h1, .eshop-container > h1, .eshop-container .eshop_customer h1, .article-details .article-header h1, .info_order h1, .product-info #productRelate h2 {
  font-size: 25px;
  color: #333333;
  padding: 0 5px;
  position: relative;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
}

.sppb-addon-title a {
  color: #333333;
}

.sp-page-builder .page-content #section-id-1576689590030 {
  padding: 10px 0px 10px 0px!important;
  margin: 0px 0px 0px 0px;
}
.sp-page-builder .page-content #section-id-1576690745091 {
  padding: 10px 0px 10px 0px!important;
  margin: 0px 0px 0px 0px;
}
.sp-page-builder .page-content #section-id-1576690745082 {
  padding: 10px 0px 10px 0px!important;
  margin: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1576688373263 {
  padding: 10px 0px 10px 0px!important;
  margin: 0px 0px 0px 0px;
}

.block-header, .cart-page h1, .order-page h1, .contact h1, #home_product .home-product-block .sppb-addon-content h3.sppb-addon-title, #home_product .home-product-block .eshop-category ul li .title_category, #sp-component .profile-edit .page-header h1, .eshop-container > h1, .eshop-container .eshop_customer h1, .article-details .article-header h1, .info_order h1, .product-info #productRelate h2 {
  font-size: 21px;
  padding: 0 5px;
  position: relative;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
  border-left: 0px!important;
}

#section-id-1576685829114 {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}

.sp-page-builder .page-content #section-id-1576688373263 {
  padding: 10px 0px 10px 0px!important;
  margin: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1576690745082 {
  padding: 10px 0px 10px 0px!important;
  margin: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1576735410761 {
  padding: 10px 0px 10px 0px!important;
  margin: 0px 0px 0px 0px;
}

.sp-page-builder .page-content #section-id-1576735999269 {
  padding: 10px 0px 10px 0px!important;
  margin: 0px 0px 0px 0px;
}
#sppb-addon-1576691175546 span {
  padding-left: 30px;
}
.sppb-section {
  padding: 10px 0px 10px 0px!important
}

div#sppb-addon-1576735410767 .sppb-addon-title {
  text-align: left;
}

#sppb-addon-1576735410767 img.alignnone.size-full.wp-image-36.lazyloaded {
  float: left;
  margin-top: 18px;
}

#sppb-addon-1576735410767 img.alignnone.size-full.wp-image-35.lazyloaded {
  float: left;
  margin-top: 18px;
}

.media-body {
  padding-left: 25px;
}

div#column-id-1576735410760 {
  margin-left: 20px;
}

div#sppb-addon-1576735410767 .sppb-addon-title {
  text-align: left;
  margin-top: 0px;
}

#sppb-addon-1576735410767 h3 span {
  font-size: 20px;
}

#sppb-addon-1576691175546 .custom{
  background: #FFF;
      min-height: 420px;
      padding-top: 1px;
  }
  #sppb-addon-1576739053723 .custom h3 {
    font-size: 25px;
}

#sppb-addon-1576739053723 ul li {
  float: left;
  width: 50%;
  padding-left: 200px;
}
#sppb-addon-1576739053723 li::before {
  background: url(/images/check-icon.png) no-repe at 100%;
}

div#section-id-1576685829114 {
    background: #fa9c30;
}

#sppb-addon-1576686467480 button.btn.btn-warning {
  background: none;
  border: 1px solid white;
  border-radius: 4px;
  margin-left: 100px;
  margin-top: -5px;
}
#sppb-addon-1576686467480 button.btn.btn-warning:hover {
  background: black;
}

#sppb-addon-1576739053723 ul.lists li:before {
  content: '';
  background: url(../images/check-icon.png) no-repeat 100%;
  display: inline-block;
  background-size: contain;
  width: 14px;
  height: 32px;
  float: left;
  margin-right: 18px;
}
/*end css hổ viết carspaheu */



__box_our_quantity{
  background-color: #f69220;
}
.footer-box__content-intro span{
  font-size: 25px;
}
.footer-box__content-intro a{
  color:#555;
}

#sppb-addon-1576688373266 .eshop-category li{
    float: left;
    border: 0px;
    padding: 10px;
    margin-right:5px;
}

#sppb-addon-1576691175546 .custom p{ line-height: 33px;

}
.sppb-addon-title{
text-align: center;
}
#section-id-1576689590030 h3.sppb-addon-title{
  text-align: left;
}

.view_all{
  text-align: center;
  padding: 10px 0px 10px 0px;
}
#sppb-addon-1576688373266 ul li{
  width:13%;
  float: left;
}

#sppb-addon-1576688373266 ul li img{
  margin:auto;
}


#sppb-addon-1576688373266 ul li span{
  padding-top:5px;
  text-align: center;
  display: block;
}

#sp-top2 .col-md-3 {
  width: 50%;
}

#sp-header #header-top #sp-top1 p span {
  color: #333;
  position: absolute;
  margin-top: 0px;
  font-size: 15px;
}

#sp-header #header-top {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  background: #f3f2f4;
  height: 45px;
}

#sp-header #header-top #sp-top2 .sclogin a {
  color: #333;
  padding: 0px;
}

#sp-header #header-top #sp-top2 .socials li a {
  color: red!important;
}

#sp-top2 .col-md-3 {
  width: 80%;
}

#sp-header #header-top #sp-top1 p {
  margin: 0;
  color: #444;
}

i.fa.fa-volume-control-phone {
  font-size: 25px;
  color: red;
}

i.fa.fa-map-marker {
  font-size: 25px;
}

.sourcecoast.sclogin-modal-links.sclogin {
  color: black;
}
#header-top *{
  font-size: 14px;
}
#header-top i{
  font-size: 16px;
  margin-right: 3px;
}

.navbar-menu .__category{
  width: 100px;
  float: left;
}
.navbar-menu .sp-megamenu-wrapper{
    float: left;
}

.moduletable.__category:not(.home) {
    min-width: 10px;
    left: 0px;
}
.navbar-menu .sp-megamenu-wrapper{
  padding-top: 13px;
  padding-left: 23px;
}

.navbar-menu{
  background: linear-gradient(to bottom,#fa9c30 50%,#f69321 50%);
  border-radius: 3px;
  padding-left: 25px;
}

#sp-header #header-mid .logo .logo-image {
    height: 70px !important;
}

#sp-header.header-sticky #header-mid .logo .logo-image {
    height: 70px !important;
}

.navbar-menu ul li a{color:#FFF!important;}
.navbar-menu .__category h3{ font-weight: bold; color:#FFF!important;}
.moduletable.__category h3 {
    font-size: 16px;
}
.sp-megamenu-parent > li a {
    font-size: 16px;
}
.navbar-menu .__category {
    width: 118px;
    float: left;
}
.__category .eshop-category ul li a{
  color:#333!important;
}
.__category .eshop-category ul li a:hover{color:red!important;}

.navbar-menu ul li ul li a{color:#333!important;}
.navbar-menu ul li ul li a:hover{color:red!important;}
#sp-header #header-mid {
    padding: 0px 0;
}
#sp-header #header-mid .logo {
    height: 70px;
}
.navbar-menu {
    background: linear-gradient(to bottom,#fa9c30 50%,#f69321 50%);
    border-radius: 3px;
    padding-left: 10px;
    height: 62px;
}

#sp-header #header-mid {
    padding: 8px 0px 0px 0px;
}
#sp-component {min-height: 400px}
#top_slide{
  padding-top:0px!important;
  padding-bottom:0px!important;
  margin-bottom: 0px!important;
}

ul.sp-megamenu-parent li:last-child a{
  background: #c15e28;
  border-radius: 3px;

}
ul.sp-megamenu-parent  li ul li:last-child a{
  background: #FFF;
  border-radius: 3px;

}
.__search-bar{
  display:block;
  padding:0px;
}
.article-details {
    min-height: 400px;
}

.eshop-categories-list .eshop-category-wrap a, .eshop-sub-categories-list .eshop-category-wrap a{
  color:#333;
}
.__search-bar h3 {
    font-weight: 700;
    font-size: 18px;
    margin-left: 0px;
}
.eshop-search #prependedInput{
  width:250px;
}
.__cart{
  float:right;
}
.hotline-top-mobile{
  float:right;
}
.__login{
  float:right;
}
.moduletable.__cart .eshop-items{
  padding:0px;
}
.moduletable.__cart .eshop-items .right_info_cart {
    background-color: #f3f2f4;
}

.cart-empty i{
  font-size:65px
}
#eshop-cart-total .text-uppercase{
  display:none;
}
.moduletable.__cart .eshop-items .right_info_cart #eshop-cart-total {
    display: inline-block;
    margin-left: -5px;
}

#header-top i {
    font-size: 24px;
}
.moduletable.__cart .eshop-items .right_info_cart {
    padding: 0px 0px;
}
.moduletable.__cart .eshop-items .right_info_cart .fa-shopping-cart {
    color: #c15e28 !important;
}
.moduletable.__cart .eshop-items .right_info_cart .badge {
    background: #fff;
    text-shadow: none;
    color: #c15e28 !important;
    margin-bottom: 0;
}
.hotline-top-mobile{
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
}
.cart-empty i{
  font-size: 45px!important;
}
#sp-top2{
  z-index: 9999;
}
.moduletable.__cart .eshop-content {
    top: 30px;
}
#eshop-cart-total h4{
  display: none;
}

._carspahue_mobile{
  display: none;
}
.moduletable.__login .sclogin .scuser-menu .btn-group.open .dropdown-menu {
    top: 29px;
  }
  .scuser-menu .dropdown-menu li{
    padding-left:7px;
  }
  .scuser-menu .dropdown-menu li a{
    line-height: 28px!important;
  }

.desktop-313,
.desktop-354,
.desktop-315{
  display: none!important;
}

#sp-component .add-booking {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

}
#sp-component .add-booking #form-booking {
  padding: 15px;
}

#sp-component  #form-booking input{
  width: 65%;
}

#sp-component  #form-booking label{
  display: block;
}
.status_id{
  display: none;
}

button.btn-booking {
  background: none!important;
  border-color: #FA9C30!important;
  color: #FA9C30!important;
  text-shadow: none!important;
}
button.btn-booking:hover {
  color: #333!important;
}
a.a-booking {
    border-color: #686868;
    color: #333;
    background: none!important;
    text-shadow: none!important;
}
a.a-booking:hover {
    background: #333!important;
    color:#FFF;
    text-shadow: none!important;
}
#title-booking{
    color: #777;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase!important;
    padding: 14px 0px 15px;
    margin: 0;
    display: block;
    line-height: normal;
}
#sp-component .registration form legend {
    padding: 14px 0px 15px;
}
#jform_note{
  height: 120px;
    width: 65%;
}

.btn-wapper .controls {
    margin-left: -15px!important;
}
.cart-popup .table-responsive img.img-thumbnail{
  width: 50px;
}
.table-responsive-2 th a{
 color:#333;
}

.detail-booking{
  background-color: #FFF;
}

#sp-component h3.page-header.item-title {
    text-align: center;
}
#sp-component .cat-children h3 a {
    margin-left: -80px;
}

/* end web desktop */











 /* mobile */
@media screen and (max-width: 768px){
  .list-product .eshop_product {
      min-height: auto;
  }
  #sp-header #header-mid {
    margin: 0 -15px;
    background-color: #fe0000;
  }
  .sp-copyright{
    padding-left: 10px;
    padding-right: 10px;
  }
  .table-responsive tfoot{
    display:inline-block!important;
    width:100%;
  }
  .sclogin .dropdown-menu li:last-child {
    display:block;
  }
  .sw-theme-dots>ul.step-anchor>li {
    position: relative;
    min-width: 20px;
    }
  .sw-theme-dots>ul.step-anchor>li>a:before {
    top: 5px;
    left: -29px;
  }

 /* .sw-theme-dots>ul.step-anchor>li:first-child::after {
    left: 0!important;
  }*/
  #smartwizard{
    padding-left: 5px;
  }

  .cart-info, #checkout-options, #payment-address, #payment-method, #confirm {
      padding: 0px;
  }
  .footer-cart .col-sm-6{
    width: 50%;
    float: left;
  }
  #order-complete .col-md-6 .text-primary{ font-size: 18px; font-weight: bold;}
  li.item-353{display:block!important;}
  .cart-page{
    padding-top: 10px;
  }

  #eshop_result {

      width: 270px!important;

  }
  #sp-header #header-mid .row .navbar-logo .logo{

  }
  #sp-header #header-mid .row .navbar-logo{
    top:0px;
  }
  #sp-header #header-mid .row .navbar-logo .logo .logo-image {
    height: 60px !important;
  }
  #sp-header #header-mid .row .navbar-logo{
    left:0px;
  }
  #sp-header #header-mid .row .navbar-logo .logo {
    height: 60px !important;
    margin-left: 0px;
  }
  #header-mid .navbar-logo, #header-mid .navbar-logo .logo, #header-mid .navbar-logo .logo a{
    width:100%!important;
  }
  #header-mid .navbar-logo .logo a{ text-align: center ;}
  #header-mid .navbar-logo .logo .logo-image{
    margin:auto;
  }
  .offcanvas-inner .sp-module-title{
      padding-left: 15px;
  }
  .offcanvas-inner ul.menu li a{
    text-transform: none!important;
  }
 .offcanvas-menu .offcanvas-inner .sp-module .sp-module-title{
   margin-bottom:5px;
   font-size:14px;
 }
 .offcanvas-menu .offcanvas-inner .sp-module ul > li a {
    padding: 5px 15px 5px 15px;
  }
  .offcanvas-menu .offcanvas-inner .sp-module ul > li a {
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
  }
  .hotline-mobile .custom{
    padding-left:15px;
  }
  .offcanvas-inner li.item-313 a::before{
    content: "\f015";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }
  .offcanvas-inner li.item-356 a::before{
    content: "\f2bd";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-169 a::before{
    content: "\f05a";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-324 a::before{
    content: "\f1ea";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-354 a::before{
    content: "\f07b";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }
  .offcanvas-inner li.item-315 a::before{
    content: "\f199";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }


  .offcanvas-inner li.item-191 a::before{
    content: "\f2bd";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-192 a::before{
    content: "\f022";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }


  .offcanvas-inner li.item-304 a::before{
    content: "\f2bb";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-355 a::before{
    content: "\f08b";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-358 a::before{
    content: "\f02c";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  #sp-header #header-top {
      display: block;
  }
  #sp-top2{display:block;}
  .hotline-top-mobile{display: none;}
  .location-text{display:none;}

  #sp-header {
    padding: 0px;
  }
  .__loginmobile{display: block;}
  #sp-header #sp-top2 .__loginmobile .sclogin-modal-links{
    display: block!important;
  }
  #offcanvas-toggler{ margin-left: 30px!important;}
  .right_info_cart{
    margin-right: 12px;
  }
  #sp-header #header-top{padding: 4px 0px 0px 0px;}
  .__loginmobile {
    float: right;
    width: 52%;
  }
  .__loginmobile a.dropdown-toggle{ color: #FFF;}
  .__loginmobile .fa-sign-out{ color: #FFF;}
  .__loginmobile .txt_logout{ color: #FFF;}
  #sp-header #header-top #sp-top2 .__loginmobile .sclogin a.btn span{
    color: #FFF;
  }
  #sp-header #header-top #sp-top2 .__loginmobile .sclogin a{
    color: #FFF;
  }
  #sp-header #header-top #sp-top2 .__loginmobile .sclogin{
    float: right;
  }
  .__loginmobile{padding:0px!important;}
  #sp-header #header-top #sp-top2 .__loginmobile .sclogin {
    display: inline-block;
    margin-left: 0px;
  }

  #productRelate .list-product .eshop_product {
      min-height: 325px;
  }
  .product-info .product-cart #add-to-cart{
    padding: 10px 10px;
  }
  .product-info #add-to-cart {
    margin-left: 22px;
  }
  .product-info .product-cart .eshop-quantity .item:nth-child(2){
    width:53px !important;
  }
  .commit i {
    float: left;
    font-size: 16px;
  }
  .hotline-mobile-top{
    display: block!important;
    padding-left:10px;
  }
  #sp-header #header-mid{background-color: #FFF;}
  #offcanvas-toggler i{
    color:#ee8033!important;
  }
  #eshop-cart .right_info_cart{
    background-color: #FFF;
  }
  .moduletable.__cart .eshop-items .right_info_cart .fa-shopping-cart{
    color:orange!important;
  }
  .moduletable.__cart .eshop-items .right_info_cart .fa-shopping-cart {
    color: orange!important;
  }

  .moduletable.__cart .eshop-items .right_info_cart .badge {
    background: #fff;
    text-shadow: none;
    color: orange!important;
    margin-bottom: 0;
    border:1px solid orange!important;
  }
  #sp-header #header-mid {
    padding-top: 74px;
  }
  #sp-header #header-mid .row .navbar-logo .logo {
    height: 70px !important;
  }
  #sp-header #header-mid .row .navbar-logo .logo .logo-image {
    height: 70px !important;
  }

  #products-list-container .sortPagiBar {
    margin: 38px -11px;
  }
  .eshop-sub-categories-list{
    padding-top: 38px;
  }
  .product-pagination{
    padding-bottom: 10px;
  }
  .mb-subcat{
    float: left;
    width: 50%;
  }

  .eshop-categories-list .eshop-category-wrap, .eshop-sub-categories-list .eshop-category-wrap {
    margin-bottom: 5px;
  }

  .eshop-info-block {
    padding: 5px 7px 5px 7px  ;
    text-align: center;
  }
  #products-list-container{
    padding-top: 38px;
    margin-top:5px
  }

  #products-list .row .ajax-block-product {
      min-height: 340px;
  }

  .eshop-products-list .item-product img.img-responsive{
    min-height: 156px;
    min-width: 156px;
  }
  #productRelate .item-product img.product-item{
    min-height: 156px;
    min-width: 156px;
  }
  .badge {
    padding: 1px 4px 2px!important;
  }

  .eshop-mini-cart-info{
    overflow-y: scroll!important;
    max-height: 200px;
  }
  .product-info .product-options{
    width:50%;
  }

  /* fix all project */
  #products-list  .item-product img.product-item{
    min-height: 156px;
    min-width: 156px;
  }
  #products-list-container {
    padding-top: 0px;
  }

  .sp-page-builder .page-content #section-id-1575652267584{
    padding: 0px!important;
  }

  #sppb-addon-1570287697253 .banneritem img {
    margin: auto;
    height: 240px;
    width: 100%;
  }

  #sppb-addon-1576686467480 .footer-box__content-intro span {
    font-size: 12px;
    text-align: center;
    margin: 0px auto;
    padding-left: 20px;
  }

  #sppb-addon-1576686467480 button.btn.btn-warning {
    background: none;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: -5px;
    margin: 0px 139px;
  }

  .sppb-col, .sppb-col-auto, .sppb-col-lg, .sppb-col-lg-1, .sppb-col-lg-10, .sppb-col-lg-11, .sppb-col-lg-12, .sppb-col-lg-2, .sppb-col-lg-3, .sppb-col-lg-4, .sppb-col-lg-5, .sppb-col-lg-6, .sppb-col-lg-7, .sppb-col-lg-8, .sppb-col-lg-9, .sppb-col-lg-auto, .sppb-col-md, .sppb-col-md-1, .sppb-col-md-10, .sppb-col-md-11, .sppb-col-md-12, .sppb-col-md-2, .sppb-col-md-3, .sppb-col-md-4, .sppb-col-md-5, .sppb-col-md-6, .sppb-col-md-7, .sppb-col-md-8, .sppb-col-md-9, .sppb-col-md-auto, .sppb-col-sm, .sppb-col-sm-1, .sppb-col-sm-10, .sppb-col-sm-11, .sppb-col-sm-12, .sppb-col-sm-2, .sppb-col-sm-3, .sppb-col-sm-4, .sppb-col-sm-5, .sppb-col-sm-6, .sppb-col-sm-7, .sppb-col-sm-8, .sppb-col-sm-9, .sppb-col-sm-auto, .sppb-col-xl, .sppb-col-xl-1, .sppb-col-xl-10, .sppb-col-xl-11, .sppb-col-xl-12, .sppb-col-xl-2, .sppb-col-xl-3, .sppb-col-xl-4, .sppb-col-xl-5, .sppb-col-xl-6, .sppb-col-xl-7, .sppb-col-xl-8, .sppb-col-xl-9, .sppb-col-xl-auto, .sppb-col-xs-1, .sppb-col-xs-10, .sppb-col-xs-11, .sppb-col-xs-12, .sppb-col-xs-2, .sppb-col-xs-3, .sppb-col-xs-4, .sppb-col-xs-5, .sppb-col-xs-6, .sppb-col-xs-7, .sppb-col-xs-8, .sppb-col-xs-9 {

    padding-right: 0px;
    padding-left: 0px;
  }
  #sppb-addon-1576739053723 img{
    margin-right: 0px!important;
    margin-left: 0px!important;
    width: 100%;
    margin-bottom: 10px;
  }

  #sppb-addon-1576686467480 .footer-box__content-intro{
    padding: 0px 25px 0px 25px;
    text-align: center;
  }
  #sppb-addon-1576686467480 button.btn.btn-warning {

    display: block;
    margin: auto;
  }
  .sp-page-builder .page-content #top_slide {
    margin-bottom: 0px!important;
  }
  div#column-id-1576735410760 {
    margin-left: 0px;
  }
  .moduletable.__box_our_quantity .footer-box__content-intro {
    width: 100% !important;
    height: auto !important;
  }

  #sppb-addon-1576739053723 ul li {
    float: left;
    padding-left: 0px!important;
    width: 50%;
}

#sppb-addon-1576691175546 strong {
  font-size: 17px!important;
}

#sp-section-5 .moduletable.__box_our_quantity .footer-box__content {
  display: flex;
  align-items: center;
  text-align: center;
}

.custom p span img {
  float: left;
  margin: 5px;
  width: 160px;
}

#sppb-addon-1576690082823 .custom{
  padding: 0px 10px 0px 10px;
}

#sppb-addon-1576688373266 .eshop-category li {
  float: left;
  border: 0px;
  padding: 10px;
  margin-right: 5px;
  width: 31%;
}


#sp-top1 p span:before {
  content: '\f041';
}

.offcanvas-inner li.item-361 a::before {
    content: "\f022";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right: 10px;
}

.offcanvas-inner li.item-362 a::before {
    content: "\f1b9";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right: 10px;
}

.offcanvas-inner li.item-364 a::before {
    font: normal normal normal 15px/1 FontAwesome;
    padding-right: 10px;
    content: "\f0c0";
}

.offcanvas-inner li.item-365 a::before {
    font: normal normal normal 15px/1 FontAwesome;
    padding-right: 10px;
    content: "\f0ac";
}

.offcanvas-inner li.item-366 a::before {
    font: normal normal normal 15px/1 FontAwesome;
    padding-right: 10px;
    content: "\f073";
}


#eshop-cart .right_info_cart {
    background-color: #f3f2f4;
}
.__cart{
  padding-right: 5px;
  padding-top: 3px;
}
#sp-header #sp-top2 .sclogin-modal-links {
    display: block !important;
}
.__login{
      padding-right: 60px;
}
#header-top i {
    font-size: 23px;
}
#sp-top1 p span:before {
    content: '';
}
.hotline-mobile-top .custom span a{ color:red!important; }
.moduletable.__login {
    display: block!important;
}

#sppb-addon-1576686467480 .footer-box__content-intro span {
    font-size: 20px;
    text-align: center;
}
img.logo-image{
  margin-top: -109px!important;
}
#offcanvas-toggler i {
    color: #FFF!important;
    margin-top: 7px;
}
header.header-sticky .__cart {
  position: absolute;
  top: 5px;
  right:5px;
}
.moduletable.__search-bar .eshop-search .input-group .btn {
    right: 73px;
    top: 0px;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a {
    font-size: 15px;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a {
    padding: 7px 15px 7px 15px;
}
#sp-header.header-sticky #header-mid {
    padding-top: 0px;
}
#sp-header.header-sticky #header-top .__cart{
  position: absolute;
  top: 5px;
  right:5px;
}

#offcanvas-toggler{
  margin-top: -53px;
}
._carspahue_mobile .custom *{
  color: #FFF;
  font-size: 17px;
  text-align: center;
}

._carspahue_mobile{
  padding-top: 15px;
  font-weight: bold;
  padding-left: 25px;
}

._carspahue_mobile{
  display: block;
}
.offcanvas-inner a::before {
    color: orange;
}
.close-offcanvas {
    background: #741f1a;

}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a .menu-toggler {
    color: orange !important;
}
.desktop-313,
.desktop-354,
.desktop-315{
display: block!important;
}

#sp-component  #form-booking input{
  width: 95%;
}
#jform_note{
  height: 90px;
    width: 95%;
}

#sp-component h3.page-header.item-title {
    text-align: center;
}
#sp-component a {
     margin-left: 0px;
}
#sp-component .cat-children h3 a {
     margin-left: 0px;
}
/* end fix all project */

}
/* end mobile */
